@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cursorp{
  cursor: pointer;
}


  :root {
  --shade-0: #0D263B;
  --shade-1: #FFFFFF;
  --shade-2: #F6F8F9;
  --shade-3: #F5F7FC;
  --shade-4: #696969;
  --shade-5: #2F2D51;
  --shade-6: #282F34;
  --primary: #0061DF;
  --green:  #006766;


  /* ============  FONT SIZE  =============== */
  --size13: 13px;
  --size16: 16px;
  --size18: 18px;
  --size25: 25px;
  --size30: 30px;
  --size60: 60px;
  /* =============  ICONS width============== */
  /* --icon-w18: 18px;
  --icon-w14: 14px;
  --icon-w12: 12px;
  --icon-w20: 20px;
  --icon-w24: 24px;
  --icon-w32: 32px;
  --card-img: 283px;
   */
  /* ============= MARGIN vs PADDING PX  ================ */

  /* ========== FONT FAMILY ============= */
  /* --family: "Montserrat", sans-serif; */
  --family: 'Montserrat', sans-serif;
  /* ============= DISPLAY ================== */
}

@media (min-width: 1440px) {
  :root {
  --size13: 15px;
  --size15: 18px;
  --size16: 19px;
  --size18: 22px;
  --size23: 25px;
  --size29: 22px;
  --size32: 35px;
  --size40: 50px;

  /* =============  ICONS width============== */
  --icon-w18: 20px;
  --icon-w14: 16px;
  --icon-w12: 14px;
  --icon-w20: 22px;
  --icon-w24: 26px;
  --card-img: 283px;
  
  }
}

@media (max-width: 1200px) {
  :root {
    --size13: 13px;
  --size15: 15px;
  --size16: 16px;
  --size18: 18px;
  --size23: 23px;
  --size29: 29px;
  --size32: 32px;
  --size40: 38px;
  }
}
@media (max-width: 992px) {
  :root {
    --size13: 11px;
    --size15: 14px;
    --size16: 15px;
    --size18: 17px;
    --size23: 21px;
    --size29: 27px;
    --size32: 30px;
    --size40: 35px;

    --card-img: 240px;
    /* =============  ICONS width============== */
  --icon-w18: 17px;
  --icon-w14: 13px;
  --icon-w12: 11px;
  --icon-w20: 18px;
  --icon-w24: 20px;
  }
}
@media (max-width: 767px) {
  :root {
    --size13: 9px;
    --size15: 11px;
    --size16: 13px;
    --size18: 14px;
    --size23: 18px;
    --size29: 24px;
    --size32: 26px;
    --size40: 30px;

    --card-img: 200px;
    /* =============  ICONS width============== */
  --icon-w18: 16px;
  --icon-w14: 12px;
  --icon-w12: 10px;
  --icon-w20: 17px;
  --icon-w24: 20px;
  --size40: 29px;

  }
}

@media (max-width: 576px) {
  :root {
    --size13: 8px;
    --size15: 10px;
    --size16: 11px;
    --size18: 12px;
    --size23: 15px;
    --size29: 21px;
    --size32: 23px;
    --size40: 25px;

    /* =============  ICONS width============== */
  --icon-w18: 14px;
  --icon-w14: 10px;
  --icon-w12: 9px;
  --icon-w20: 15px;
  --icon-w24: 18px;
  }
}