@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cursorp {
  cursor: pointer;
}
.allContainer {
  width: 100%;
}

:root {
  --shade-0: #0d263b;
  --shade-1: #ffffff;
  --shade-2: #f6f8f9;
  --shade-3: #f5f7fc;
  --shade-4: #696969;
  --shade-5: #2f2d51;
  --shade-6: #282f34;
  --primary: #0061df;
  --green: #006766;
  --yellow: #ffbc01;
  --yellow1: #ede606;

  /* ============  FONT SIZE  =============== */
  
  --size13: 13px;
  --size16: 16px;
  --size18: 18px;
  --size25: 25px;
  --size30: 30px;
  --size60: 60px;

  /* ========== FONT FAMILY ============= */
  /* --family: "Montserrat", sans-serif; */
  --family: "Montserrat", sans-serif;
  /* ============= DISPLAY ================== */
    /* ===============  btn padding =========== */
  --btn-middile: 15px 24px 14px 25px;
    --btn-big: 19px 24px 18px 25px; 
    --btn-smole:5px 12px;
}

@media (max-width: 1440px) {
  :root {
    --size13: 12px;
  --size16: 16px;
  --size18: 18px;
  --size25: 22px;
  --size30: 27px;
  --size60: 50px;
    /* =============  ICONS width============== */
    --icon-w18: 20px;
    --icon-w14: 16px;
    --icon-w12: 14px;
    --icon-w20: 22px;
    --icon-w24: 26px;
    --card-img: 283px;
    /* ===============  btn padding =========== */
    --btn-middile: 13px 22px 12px 23px;
    --btn-big: 17px 21px 16px 22px; 
    --btn-smole:5px 12px;
  }
}

@media (max-width: 1200px) {
  :root {
    --size13: 12px;
    --size16: 16px;
    --size18: 18px;
    --size25: 22px;
    --size30: 27px;
    --size60: 50px;
  }
}
@media (max-width: 992px) {
  :root {
    --size13: 11px;
    --size15: 14px;
    --size16: 15px;
    --size18: 17px;
    --size23: 21px;
    --size29: 27px;
    --size32: 30px;
    --size40: 35px;

    --card-img: 240px;
    /* =============  ICONS width============== */
    --icon-w18: 17px;
    --icon-w14: 13px;
    --icon-w12: 11px;
    --icon-w20: 18px;
    --icon-w24: 20px;
    
    /* ===============  btn padding =========== */
    --btn-middile: 11px 19px 10px 20px;
    --btn-big: 15px 19px 14px 20px; 
    --btn-smole:5px 12px;
  }
}
@media (max-width: 767px) {
  :root {
    --size13: 9px;
    --size15: 11px;
    --size16: 13px;
    --size18: 14px;
    --size23: 18px;
    --size29: 24px;
    --size32: 26px;
    --size40: 30px;

    --card-img: 200px;
    /* =============  ICONS width============== */
    --icon-w18: 16px;
    --icon-w14: 12px;
    --icon-w12: 10px;
    --icon-w20: 17px;
    --icon-w24: 20px;
    --size40: 29px;
  }
}

@media (max-width: 576px) {
  :root {
    --size13: 8px;
    --size15: 10px;
    --size16: 11px;
    --size18: 12px;
    --size23: 15px;
    --size29: 21px;
    --size32: 23px;
    --size40: 25px;

    /* =============  ICONS width============== */
    --icon-w18: 14px;
    --icon-w14: 10px;
    --icon-w12: 9px;
    --icon-w20: 15px;
    --icon-w24: 18px;
  }
}
